<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to exmaple.com, <%= @user.name %></h1>
    <p>
      You have successfully signed up to emxalpe.com.
      You're user name is: <%= @user.login %>
    </p>
    <br>
    <p>Thanks for joining</p>
  </body>

</html>
